<?xml version="1.0"?>

<scxml xmlns="http://www.w3.org/2005/07/scxml"
       version="1.0"
       datamodel="jexl"
       initial="init">

    <state id="init">    
        <onentry>
            <log expr="'init hello world'" />
        </onentry>
           
        <transition event="battery.update" cond="level lt 70" target="hello">
            <log expr="'final'" />
        </transition>
           
        <transition event="battery.update" cond="level gt 70" target="init">
            <log expr="'update init'" />
        </transition>
           
    </state>
       
    <final id="hello">
       
    </final>

</scxml>
